*{
    all: initial;
    font-family: FiraCode;
    font-size: 9px;
    border: none;
    border-radius: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
    background: shade(alpha(@borders, 0.9), 1.25);
}

#workspaces{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 25px;
    margin-left: 20px;
}

#pulseaudio-slider slider, #backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 5px;
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight, #backlight-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background-color: #33ccff;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
	padding: 0 2px;
}
